In [2]:
# Initial imports
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

import random
import urllib.request
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [47]:
data = pd.read_csv('Complete/CompleteDataset.csv')
position_data = pd.read_csv('Complete/PlayerPlayingPositionData.csv')
basic_data = pd.read_csv('Complete/basicplayerdata.csv')

In [50]:
df1 = basic_data[['ID', 'Photo']]

In [51]:
f = pd.merge(df1, data, on='ID', how='inner')

In [52]:
f.head()

,ID,Photo_x,Unnamed: 0,Name,Age,Photo_y,Nationality,Flag,Overall,Potential,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,158023,https://cdn.sofifa.org/players/4/18/158023.png,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
1,20801,https://cdn.sofifa.org/players/4/18/20801.png,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
2,190871,https://cdn.sofifa.org/players/4/18/190871.png,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,176580,https://cdn.sofifa.org/players/4/18/176580.png,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,167495,https://cdn.sofifa.org/players/4/18/167495.png,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
f = f.rename(index=str, columns={"Photo_x": "Photo"})

In [54]:
f.drop(['Photo_y', 'Unnamed: 0'], axis = 1, inplace = True)

In [55]:
f.describe()

,ID,Age,Overall,Potential,Special,CAM,CB,CDM,CF,CM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
count,15405.000000,15405.000000,15405.000000,15405.000000,15405.000000,13645.000000,13645.000000,13645.000000,13645.000000,13645.000000,...,13645.000000,13645.000000,13645.000000,13645.000000,13645.000000,13645.000000,13645.000000,13645.000000,13645.000000,13645.000000
mean,207669.026615,25.137098,66.822590,71.702110,1606.033561,59.776768,56.129498,57.501649,59.528252,59.100989,...,57.588128,56.129498,59.100989,57.501649,59.528252,60.605203,58.653939,59.872188,58.322462,58.653939
std,31371.133629,4.508571,6.864503,6.086678,273.257835,9.861426,12.160434,10.211230,9.932358,8.799248,...,9.704794,12.160434,8.799248,10.211230,9.932358,9.324881,9.183150,9.985027,9.037688,9.183150
min,16.000000,16.000000,46.000000,48.000000,728.000000,27.000000,25.000000,26.000000,27.000000,31.000000,...,30.000000,25.000000,31.000000,26.000000,27.000000,28.000000,32.000000,26.000000,31.000000,32.000000
25%,193076.000000,22.000000,62.000000,67.000000,1464.000000,54.000000,46.000000,50.000000,53.000000,53.000000,...,50.000000,46.000000,53.000000,50.000000,53.000000,55.000000,52.000000,54.000000,52.000000,52.000000
50%,213170.000000,25.000000,67.000000,71.000000,1648.000000,61.000000,58.000000,58.000000,61.000000,60.000000,...,58.000000,58.000000,60.000000,58.000000,61.000000,62.000000,59.000000,61.000000,59.000000,59.000000
75%,230473.000000,28.000000,71.000000,76.000000,1797.000000,67.000000,66.000000,65.000000,66.000000,65.000000,...,65.000000,66.000000,65.000000,65.000000,66.000000,67.000000,65.000000,67.000000,65.000000,65.000000
max,241218.000000,44.000000,94.000000,94.000000,2291.000000,92.000000,87.000000,85.000000,92.000000,87.000000,...,84.000000,87.000000,87.000000,85.000000,92.000000,90.000000,92.000000,91.000000,84.000000,92.000000

In [56]:
f.to_csv('Complete/CompleteDataset.csv', encoding='utf-8')

In [57]:
pd.isnull(f).sum() > 0

ID                     False
Photo                  False
Name                   False
Age                    False
Nationality            False
Flag                   False
Overall                False
Potential              False
Club                    True
Club Logo              False
Value                  False
Wage                   False
Special                False
Acceleration           False
Aggression             False
Agility                False
Balance                False
Ball control           False
Composure              False
Crossing               False
Curve                  False
Dribbling              False
Finishing              False
Free kick accuracy     False
GK diving              False
GK handling            False
GK kicking             False
GK positioning         False
GK reflexes            False
Heading accuracy       False
                       ...
Strength               False
Vision                 False
Volleys                False
CAM                     True
CB                      True
CDM                     True
CF                      True
CM                      True
LAM                     True
LB                      True
LCB                     True
LCM                     True
LDM                     True
LF                      True
LM                      True
LS                      True
LW                      True
LWB                     True
Preferred Positions    False
RAM                     True
RB                      True
RCB                     True
RCM                     True
RDM                     True
RF                      True
RM                      True
RS                      True
RW                      True
RWB                     True
ST                      True
Length: 74, dtype: bool